body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

.hero-section h1 {
  margin: 0;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: 0.05em;
  text-align: left;
  color: $base-colors-black;
  font-weight: 600;

  @media screen and (min-width: 768px) {
    font-size: 36px;
  }

  @media screen and (min-width: 1440px) {
    font-size: 48px;
    line-height: 64px;
  }
}

.blog__title {
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.05em;
  color: $base-colors-black;
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
  }

}

.article__theme,
.article__date {
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: $grey-shades-500;
  margin-bottom: 30px;
  text-align: left;
}

.article__date {
  margin-bottom: 40px;

  @media screen and (min-width: 1440px) {
    margin-bottom: 50px;
  }
}

.article__title {
  font-size: 22px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: $base-colors-black;
  margin-bottom: 10px;
  font-weight: 500;
  text-align: left;

  @media screen and (min-width: 768px) {
    font-size: 23px;
    margin-bottom: 15px;
  }
}

.article__text {
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.05em;
  color: $grey-shades-700;
  text-align: left;
}

p {
  font-size: 16px;
  line-height: 32px;
}