$base-colors-black : #000000;
$base-colors-white : #FFFFFF;
$grey-shades-900 : #323232;
$grey-shades-700 : #565656;
$grey-shades-500 : #7B7B7B;
$grey-shades-300 : #CCCCCC;
$grey-shades-100 : #F4F4F4;
$semantic-colors-errors-red : #E10000;
