.blog__container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 70px;
}

.blog__article {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  @media screen and (min-width: 1440px) {
    gap: 30px;
    max-height: 470px;
  }

}

.blog__article-reverse {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
  }

  @media screen and (min-width: 1440px) {
    gap: 30px;
  }

}

.article__content {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.article__text {
  margin-bottom: 30px;
}

article a {
  display: none;
  text-decoration: none;

  @media screen and (min-width: 768px) {
    display: inline-block;

  }
}

article svg {
  width: 24px;
  height: 12px;
}

.article__img {
  width: auto;
  height: auto;
  flex-basis: 50%;
}

.article__image {
  width: 100%;
  height: inherit;
}

.article__image-blog {
  max-height: 470px;
  max-width: 570px;
}

.article__img-flex {
  display: flex;
  justify-content: center;
}

