footer {
  background-color: $grey-shades-100;
  padding: 50px 0;
}

.footer__container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer__titles {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}

footer h2 {
  font-size: 32px;
  letter-spacing: 0.05em;
}

footer a {
  text-decoration: none;
  color: $base-colors-black;
  font-size: 18px;
}

footer svg {
  color: $grey-shades-700;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}

footer button:hover svg {
  color: $base-colors-white;
}

.footer__button-group {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: center;
}

footer p {
  text-align: center;
}

footer p br {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.footer__desktop-wrapper {
  @media screen and (min-width: 1440px) {
    display: flex;
    justify-content: space-between;
  }
}