header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__container {
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}