.hero-section {
  min-height: 500px;
  height: 100%;
  background-image: url('/assets/img/hero-bg-image-mobile.jpg');
  background-size: cover;
  background-position: bottom;
  margin-bottom: 70px;

  @media screen and (min-width: 768px) {
    min-height: 320px;
    height: 100%;
    background-image: url('/assets/img/hero-bg-image-tablet.jpg');
    background-size: cover;
    background-position: bottom;
  }

  @media screen and (min-width: 1440px) {
    min-height: 600px;
    height: 100%;
    background-image: url('/assets/img/hero-bg-image-desktop.jpg');
    background-size: cover;
    background-position: bottom;
  }
}

.hero-section__container {
  padding-top: 70px;

  @media screen and (min-width: 768px) {
    padding-top: 30px;
  }

  @media screen and (min-width: 1440px) {
    padding-top: 100px;
  }
}
