* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  min-width: 300px;
  margin: 0 3%;

  @media screen and (min-width: 768px) {
    margin: 0 4.5%;
  }

  @media screen and (min-width: 1440px) {
    margin: 0 9%;
  }

}